@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

.vp-fs-small {
  font-size: fs("18");
}

.vp-fs-medium {
  font-size: fs("20");
}

.vp-fs-big {
  font-size: fs("50");
}

.vp-fs-huge {
  font-size: fs("60");
}
