// Guide Colors
// ----------------------------------------------------------

$colors: (
  "white": #fff,
  "black": #000,
  "gray": #121212,
  "gray-light": #6c6c6c
);

// Font sizes
// ----------------------------------------------------------

$font-sizes: (
  "18": 1.8rem,
  "20": 2rem,
  "50": 5rem,
  "60": 6rem
);

// Default variables
// ----------------------------------------------------------

$base-font-size: 62.5%;
